In [1]:
%matplotlib inline
%load_ext autoreload
%autoreload 2

In [2]:
import greedyPolicy as gp
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import viz

COLORS, PAGE_WIDTH, ROW_HEIGHT = viz.set_plots()

In [54]:
prices = pd.read_csv('../data/prices.csv', index_col=0, parse_dates=True)

In [56]:
START = '2020-01-02'
END = '2020-01-03'
prices = prices.loc[prices.index.year<=2024]

In [46]:
date_rng = pd.date_range(start="2020-01-01", end="2024-12-31", freq="15T", tz="UTC")

/var/folders/q2/_lc1j3gn4j7gxx8rkyz9mfvr0000gn/T/ipykernel_46389/2865126262.py:1: FutureWarning: 'T' is deprecated and will be removed in a future version, please use 'min' instead.
  date_rng = pd.date_range(start="2020-01-01", end="2024-12-31", freq="15T", tz="UTC")

In [49]:
date_rng[:len(prices)]

DatetimeIndex(['2020-01-01 00:00:00+00:00', '2020-01-01 00:15:00+00:00',
               '2020-01-01 00:30:00+00:00', '2020-01-01 00:45:00+00:00',
               '2020-01-01 01:00:00+00:00', '2020-01-01 01:15:00+00:00',
               '2020-01-01 01:30:00+00:00', '2020-01-01 01:45:00+00:00',
               '2020-01-01 02:00:00+00:00', '2020-01-01 02:15:00+00:00',
               ...
               '2024-12-29 10:45:00+00:00', '2024-12-29 11:00:00+00:00',
               '2024-12-29 11:15:00+00:00', '2024-12-29 11:30:00+00:00',
               '2024-12-29 11:45:00+00:00', '2024-12-29 12:00:00+00:00',
               '2024-12-29 12:15:00+00:00', '2024-12-29 12:30:00+00:00',
               '2024-12-29 12:45:00+00:00', '2024-12-29 13:00:00+00:00'],
              dtype='datetime64[ns, UTC]', length=175157, freq='15min')

In [50]:
prices.index = date_rng[:len(prices)]

In [51]:
prices

2020-01-01 00:00:00+00:00    26.22619
2020-01-01 00:15:00+00:00    25.55045
2020-01-01 00:30:00+00:00    24.56864
2020-01-01 00:45:00+00:00    23.06088
2020-01-01 01:00:00+00:00    26.46082
                               ...
2024-12-29 12:00:00+00:00    64.73957
2024-12-29 12:15:00+00:00    69.48322
2024-12-29 12:30:00+00:00    64.10383
2024-12-29 12:45:00+00:00    63.72686
2024-12-29 13:00:00+00:00    61.62413
Freq: 15min, Name: lmp, Length: 175157, dtype: float64

In [53]:
prices.to_csv('../data/prices.csv')

In [6]:
test = prices.iloc[:360*1].lmp
greadyTest = gp.GreedyPolicy(test)
df = greadyTest.run()

  0%|          | 0/360 [00:00<?, ?it/s]/Users/paullesur/Desktop/CS234-Project/src/station.py:125: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  self.history = pd.concat([self.history, newRow])
/Users/paullesur/Desktop/CS234-Project/src/station.py:125: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  self.history = pd.concat([self.history, newRow])
 21%|██        | 76/360 [00:00<00:00, 757.76it/s]/Users/paullesur/Desktop/CS234-Project/src/station.py:98: FutureWarning: The behavior of array concatenation with empty entries is deprecated. In a future version, this will no longer exclude empty items when determining the result dtype. To retain the old behavior, exclude the empty entries before the concat operation.
  self.historyEVs = pd.concat([self.historyEVs, newRow])
/Users/paullesur/Desktop/CS234-Project/src/station.py:98: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  self.historyEVs = pd.concat([self.historyEVs, newRow])
100%|██████████| 360/360 [00:00<00:00, 740.97it/s]

In [60]:
a = pd.read_csv("greedy_policy.csv")

In [61]:
a

     Unnamed: 0  time       SOC      load  cost  newEVs
0             0     0  0.062500  0.100000   NaN       0
1             1     1  0.125000  0.100000   NaN       0
2             2     2  0.187500  0.100000   NaN       0
3             3     3  0.250000  0.100000   NaN       0
4             4     4  0.312500  0.100000   NaN       0
..          ...   ...       ...       ...   ...     ...
283         283   283  0.899188  0.100000   NaN      59
284         284   284  0.961688  0.100000   NaN      59
285         285   285  1.000000  0.061299   NaN      59
286         286   286  1.000000  0.000000   NaN      60
287         287   287  0.937500  0.001417   NaN      60

[288 rows x 6 columns]

In [62]:
prices = pd.read_csv('../data/prices.csv', index_col=0, parse_dates=True)
prices = prices.loc["2023-1-1":"2023-1-3"]

In [63]:
prices.iloc

                                 lmp
2023-01-01 00:00:00+00:00  178.25868
2023-01-01 00:15:00+00:00  189.68090
2023-01-01 00:30:00+00:00  189.77493
2023-01-01 00:45:00+00:00  187.67822
2023-01-01 01:00:00+00:00  179.11215
...                              ...
2023-01-03 22:45:00+00:00  147.97934
2023-01-03 23:00:00+00:00  130.03027
2023-01-03 23:15:00+00:00  140.50507
2023-01-03 23:30:00+00:00  146.71844
2023-01-03 23:45:00+00:00  169.69150

[288 rows x 1 columns]